@font-face{
    font-family: "Snowstorm";
    src: url("Snowstorm/Snowstorm.eot");
    src: url("Snowstorm/Snowstorm.eot?#iefix")format("embedded-opentype"),
    url("Snowstorm/Snowstorm.woff")format("woff"),
    url("Snowstorm/Snowstorm.ttf")format("truetype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}